body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;

  background: #fbf8ef;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 75px;
  height: 75px;
  margin: 0;
  border-radius: 5px;

  font-size: 24px;
  color: #f9f6f2;

  background: #edc22e;
}

.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 75px;
  height: 75px;
  margin: 0 8px 0 0;
  border-radius: 5px;

  font-size: 16px;
  color: #776e65;

  background: #d6cdc4;
}

.controls {
  display: flex;
}

.button {
  cursor: pointer;
  overflow: hidden;

  width: 75px;
  height: 75px;
  border: none;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f9f6f2;

  transition: 0.25s ease background;
}

.start {
  font-size: 20px;
  background: #1dae28;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}


.field-cell {
  user-select: none;

  box-sizing: border-box;
  width: 75px;
  height: 75px;
  border-radius: 5px;

  color: #776e65;
  text-align: center;
  vertical-align: center;

  background: #d6cdc4;
}

.game-field {
  display: grid;
  grid-template: repeat(4, 75px) / repeat(4, 75px);
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #bbada0;

  position: relative;
}

.game-header {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
  padding: 10px;
}

.game-tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.tile {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(1);
  transition: tile-appear 10s ease-out;

  &--new {
    animation: tile-appear 0.2s ease-out;
  }

  @keyframes tile-appear {
    0% {
      opacity: 0.5;
      transform: scale(0);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--2 {
    background: #eee4da;
    color: #776e65;
  }

  &--4 {
    background: #ede0c8;
    color: #776e65;
  }

  &--8 {
    color: #f9f6f2;
    background: #f2b179;
  }

  &--16 {
    color: #f9f6f2;
    background: #f59563;
  }

  &--32 {
    color: #f9f6f2;
    background: #f67c5f;
  }

  &--64 {
    color: #f9f6f2;
    background: #f65e3b;
  }

  &--128 {
    color: #f9f6f2;
    background: #edcf72;
  }

  &--256 {
    color: #f9f6f2;
    background: #edcc61;
  }

  &--512 {
    color: #f9f6f2;
    background: #edc850;
  }

  &--1024 {
    color: #f9f6f2;
    background: #edc53f;
  }

  &--2048 {
    color: #f9f6f2;
    background: #edc22e;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  font-size: 20px;
  color: #776e65;
  text-align: center;

  background: #d6cdc4;
}

.hidden {
  display: none;
}

.message-win {
  color: #f9f6f2;
  background: #edc22e;
}

.message-container {
  width: 100%;
  height: 150px;
}
